*{
    margin: 0;
    padding: 0;
}

.lang{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
background-color: ghostwhite;

}

.money select{
border: none;
border: 1px solid rgb(246, 241, 241);
color:  rgb(105, 102, 102);
padding: 5px 10px;

}
.opt option{
   font-size: 10px;
}
.money button {
    border: none;
    background-color: white;
    border: 1px solid rgb(246, 241, 241); 
    color: rgb(105, 102, 102);
    padding: 6px 15px;
}
.btn button{
    border: none;
    background-color: white;
    border: 1px solid rgb(246, 241, 241); 
    padding: 5px 12px;
    }
.btn a{
color:  rgb(105, 102, 102);
text-decoration: none;
}
        /* Container shopping */
        .cart{
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* margin-top: 20px; */
            background-color: ghostwhite;
            padding: 20px 0px 30px 0px;
        }
.span{
    display: flex;
}
.span i{
font-size: 38px;
color: red;
}
.span1{
    font-size: 25px;
}
.span2{
    font-size: 25px;
    color: red;
}
.span p{
font-size: 10px;
margin-top: 2px;
}

 /* Search section */
 .form input{
 width: 400px;
 padding: 6px 0px;
 }
 .form i{
    background-color: red;
    padding: 12px 8px;
    color: white;
 }
 .shop{
    /* margin-right: 150px; */
 }
 .par i{
    margin-left: 40px;
    color: red;
    font-size: 23px;
 }
 .shop p{
    font-size: 13px;
    color: rgb(105, 102, 102);
 }

          /*Navbar section  */

.navbar1{
    background-image: url('images/person\ 3.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    /* margin-top: 30px; */
}

.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    padding: 25px;
    position: sticky;
top: 0;
}

.all a{
    color: white;
    text-decoration: none;

}
.all select{
    border: none;
    background-color: red;
    color: white;
}
.contact{
    text-align: center;
    color: white;
 }
 .contact h2{
    margin-top: 140px;
    font-size: 40px;
    
 }
 .para{
    font-size: 20px;
 }
 .conpa{
    color: red;
 }


      /*Iframe Section  */
.frame1{
   padding: 30px ;
   background-color: ghostwhite;
   text-align: center;
}
.frame1 h3{
   font-size: 22px;
   font-weight: 800;
   margin-bottom: 10px;
}
.frame1 p{
   font-size: 15px;
}
iframe{
   width: 100%;
   height: 350px;
}
.form-cont{
   background-color: ghostwhite;
   display: flex;
   justify-content: space-around;
   /* align-items: center; */
   padding: 50px 0px 40px 0px;
}
.lorem h3{
   font-weight: 500;
   margin-bottom: 20px;
}
.lorem p{
   width: 350px;
   font-size: 15px;
   margin-bottom: 5px;
}
.sit  p{
   font-size: 15px;
}
.sit i{
   margin-right: 10px;
}
.form1 input{
   width: 250px;
   padding: 9px 0px;
   margin-bottom: 15px;
   border: none;
   border: 1px solid gainsboro;
   font-size: 11px;
   box-shadow: 1px 1px 4px grey;
}
.form-text textarea{
   width: 100%;
   border: none;
   border: 1px solid gainsboro;
   box-shadow: 1px 1px 4px grey;

}
.form1 button{
   padding: 8px 20px;
   margin-top: 20px;
    border: none;
   border: 1px solid gainsboro;
   font-size: 15px;
   box-shadow: 1px 1px 4px red;
   color: red;
cursor: pointer;
}
.form1 button:hover{
   background-color: black;
   color: white;
   transition: .5s ease-in-out;
}







      /* Sub Section */
 .subs{
    padding: 40px 0px;
text-align: center;
color:  rgb(39, 38, 38);
background-color: ghostwhite;

 }
 .sub p{
font-size: 16px;
margin-top: 5px;
 }

 .action input{
    width: 250px;
    padding: 6px ;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: 1px solid rgb(216, 211, 211); 
 }

 .action button{
    padding: 6px 15px;
    background-color: red;
border: none;
margin-top: 20px;
color: white;
 }
.action{
   display: flex;
   justify-content: center;

}
.action button:hover{
background-color: black;
}


 /* Footer section */
 #footer-container{
    background-color: #252222;
    padding: 40px 0px 20px 0px;
    color: rgb(224, 217, 217);
    font-family: Arial, Helvetica, sans-serif;
 }

 .footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
 }
 .footer h2{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 22px;
 }
 .footer p{
    font-size: 13px;
    margin-bottom: 4px;
    color: rgb(186, 179, 179);

 }
 .footer a i{
    color: white;
    margin-top: 15px;
    padding: 6px;
    border: 1px solid white;
    margin-left: 6px;
 }
  .footer a i:hover{
   color: black;
   background-color: gainsboro;
 }

 .las-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
 }
 .my-4 hr{
    /* color: rgb(186, 179, 179); */
  color: rgb(132, 132, 193);
 }
 .lass i{
   margin-left: 25px;
 }
 .lass a{
   color: white;
 }

 @media(max-width: 1000px){
   .lorem p{
      width: 300px;
      font-size: 15px;
   }
   .lorem h3{
      font-size: 20px;
      font-weight: 800;
   }
 }
 @media(max-width: 934px){
   .lorem p{
      width: 200px;
      font-size: 15px;
   }
   .sit i{
      font-size: 20px;
   }
   .sit{
      margin-top: 20px;
   }
   
 }
 @media(max-width: 874px){
 .form1 input{
   width: 220px;
 }

 }
 @media(max-width: 800px){
 .lang{
   flex-wrap: wrap;
   text-align: center;
 }
 .btn{
   width: 100%;
 }
 .money{
   width: 100%;
   margin-bottom: 10px;
 }
  /* .money select{
   font-size: 12px;
  }
  .btn button{
   font-size: 13px;
  } */
  .form input{
   width: 300px;
  }
  .form1 input{
   width: 200px;
 }
 .sub h2{
   font-size: 20px;
   margin-bottom: 5px;
 }
   }
   @media(max-width: 720px){
      .form-cont{
         flex-wrap: wrap;
         text-align: center;
      }

      .lorem{
         width: 100%;
         margin-top: 30px;
      }
   .lorem p{
      /* width: 100%; */
      margin: auto;
      width: 400px;
      
   }
   .sit p{
      width: 100%;
      /* text-align: center; */
      /* text-align: justify; */
      margin: auto;
   }
   .footer{
      flex-wrap: wrap;
      text-align: center;
      text-align: justify;
   }
   .main{
width: 50%;
text-align: center;
   }
   .main2{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
         }
         .main3{
            width: 50%;
            text-align: center;
               }
 .main4{
width: 50%;
text-align: center;
   }
         .footer h2{
            font-size: 17px;
            font-weight: 800;
         }
         .form input{
            width: 250px;
           }
           .h4 h4{
            font-size: 16px;
         }
         
.all a{
font-size: 10px;

}
.all select{
font-size: 10px;
}
.money select{
   font-size: 10px;
}
.money button{
   font-size: 15px;
}
.btn button{
   font-size: 15px;

}
   }
@media(max-width: 600px){
   .sit i{
      font-size: 15px;
   }
   .navbar1{
      background-image: url('images/person\ 3.jpg');
      height: 400px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      filter: brightness(70%);
      /* margin-top: 30px; */
   } 
   .span i{
      font-size: 28px;
      color: red;
      }
      .span1{
          font-size: 18px;
      }
      .span2{
          font-size: 18px;
          color: red;
      }
      .span p{
      font-size: 10px;
      margin-top: 2px;
      /* font-weight: 800; */
      }
      .shop p{
         font-size: 10px;
      }
      .par i{
         margin-left: 28px;

      }
      .form input{
         width: 210px;
        }
}
@media(max-width: 530px){

.money select{
   font-size: 10px;
}
.money button{
   font-size: 10px;
}
.btn button{
   font-size: 10px;

}
.cart{
   flex-wrap: wrap;
   text-align: center;
}
.spani{
   width: 100%;
/* margin: 0; */
}
.form{
   width: 100%;
   margin-bottom: 10px;
}
.shop{
   width: 100%;
}
.form input{
   padding: 4px 0px;
   font-size: 10px;
}
.form i{
   padding: 4px 4px 6px 4px;
}
.span1{
   font-size: 15px;
}
.span2{
   font-size: 15px;
   color: red;
}
.span p{
   width: 200px;
}
.span i{
   /* font-size: 38px; */
   color: red;
   margin: auto 
   }
   .par i{
      margin-left: 10px;
      margin-top: 20px;

   }
   .form{
      margin-top: 20px;
   }
   .h4 h4{
      font-size: 15px;
   }
   .lass i{
      font-size: 15px;
   }
   .sub h2{
      font-size: 15px;
      font-weight: 800;
   }
   .sub p{
      width: 100%;
      font-size: 11px;
   }
   .action input{
      width: 100%;
   }
   .action button{
      width: 100%;
   }
  
.lorem p{
   font-size: 11px;
   width: 300px;
}
.frame1 p{
   font-size: 11px;
}
.frame1 h3{
   font-size: 15px;
   font-weight: 800;
}
}
@media(max-width: 459px){
   .form1 button{
      padding: 8px 20px;
    margin-bottom: 30px;
   }

}

@media(max-width: 450px){
 .all{
   flex-wrap: wrap;
   padding: 10px;
 } 
 .money select{
   font-size: 10px;
}
.money button{
   font-size: 10px;
}
.btn button{
   font-size: 10px;
}
.footer{
   flex-wrap: wrap;
   text-align: center;
   text-align: justify;
}
.main{
width: 100%;
text-align: center;
margin-bottom: 20px;

}
.main2{
   width: 100%;
   margin-bottom: 20px;
   text-align: center;
      }
      .main3{
         width: 100%;
         text-align: center;
         margin-bottom: 20px;

            }
.main4{
width: 100%;
text-align: center;
}


}
@media(max-width: 400px){
   .money select{
      font-size: 8px;
   }
   .money button{
      font-size: 8px;
   }
   .btn button{
      font-size: 8px;
   }   
   .lorem p{
      font-size: 11px;
      width: 100%;
   }
 
}
@media(max-width: 362px){
   .money select{
      font-size: 6px;
   }
   .money button{
      font-size: 6px;
   }
   .btn button{
      font-size: 6px;
   }    
}
@media(max-width: 325px){
   .money select{
      font-size: 4px;
   }
   .money button{
      font-size: 4px;
   }
   .btn button{
      font-size: 4px;
   }    
   .all{
      padding: 10px;
   }
}





